# LLM Configuration
LLM_MODEL=qwen-3.5:2b
LLM_TEMPERATURE=0.7
LLM_MAX_TOKENS=2048
LLM_API_KEY=your_openai_api_key_here
LLM_API_BASE_URL=http://172.29.192.1:11434/v1
LLM_API_TIMEOUT=60

# Database configuration
POSTGRES_DB=sql_agent_db
POSTGRES_USER=sql_agent_user
POSTGRES_PASSWORD=sql_agent_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

PGADMIN_EMAIL=pgadmin@example.com
PGADMIN_PASSWORD=pgadmin_password
PGADMIN_PORT=8080